<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>371517983300-5553oh53o16aeo0jio9oklp6vmasslcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371517983300-5553oh53o16aeo0jio9oklp6vmasslcn</string>
	<key>API_KEY</key>
	<string>AIzaSyAvtgsIUep5uZonLseMFpgDPE-Sn6-U9zI</string>
	<key>GCM_SENDER_ID</key>
	<string>371517983300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ktan17.UsChat</string>
	<key>PROJECT_ID</key>
	<string>uschat-d5d41</string>
	<key>STORAGE_BUCKET</key>
	<string>uschat-d5d41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371517983300:ios:0de8cb6e091de278</string>
	<key>DATABASE_URL</key>
	<string>https://uschat-d5d41.firebaseio.com</string>
</dict>
</plist>